<!DOCTYPE html>
<html lang="en">

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
</head>

<body>
    <div class="mainContent">
        {{>header}}
        <p>It uses data from mapbox.com and openweathermap.org</p>
        <img class="portraitImg" src="/img/image.jpg" alt="">
    </div>
    {{>footer}}
</body>
</html>